In [1]:
#Linear Regresion with multiple features. (Multivariet Linear Regression)
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/content/tests.csv')

In [4]:
df

    EXAM1  EXAM2  EXAM3  FINAL
0      73     80     75    152
1      93     88     93    185
2      89     91     90    180
3      96     98    100    196
4      73     66     70    142
5      53     46     55    101
6      69     74     77    149
7      47     56     60    115
8      87     79     90    175
9      79     70     88    164
10     69     70     73    141
11     70     65     74    141
12     93     95     91    184
13     79     80     73    152
14     70     73     78    148
15     93     89     96    192
16     78     75     68    147
17     81     90     93    183
18     88     92     86    177
19     78     83     77    159
20     82     86     90    177
21     86     82     89    175
22     78     83     85    175
23     76     83     71    149
24     96     93     95    192

In [5]:
reg = linear_model.LinearRegression()

In [6]:
reg.fit(df[['EXAM1', 'EXAM2', 'EXAM3']], df.FINAL)

LinearRegression()

In [7]:
print('co-efficient', reg.coef_)
print('Intercept', reg.intercept_)

co-efficient [0.35593822 0.54251876 1.16744422]
Intercept -4.3361024012403675

In [8]:
reg.predict([[73, 80, 75]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([152.60720439])

In [10]:
predictions = reg.predict(df[['EXAM1', 'EXAM2', 'EXAM3']])

In [11]:
def msc(predictions, actual):
  #mean squared error
  error = np.sum((actual - predictions)**2) / len(actual)
  return error

In [21]:
def rsqe(pred, act):
  # R squared error
  mean_act = np.mean(act)
  ssr = np.sum((pred - mean_act)**2)
  sst = np.sum((act - mean_act)**2)
  error = ssr / sst
  return error

In [23]:
# This error is on training-set.
print('mean squar error is', msc(predictions, df.FINAL))
print('R squared error is ', rsqe(predictions, df.FINAL))

mean squar error is 5.737807144140168
R squared error is  0.9896615789448414